<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="LoopDeveloper\MiniTracker\Api\MiniTrackerInterface" type="LoopDeveloper\MiniTracker\Model\Api\MiniTracker"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="minitracker_index_listing_data_source" xsi:type="string">LoopDeveloper\MiniTracker\Model\ResourceModel\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="LoopDeveloper\MiniTracker\Model\ResourceModel\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">loopdeveloper_minitracker</argument>
            <argument name="resourceModel" xsi:type="string">LoopDeveloper\MiniTracker\Model\ResourceModel\MiniTracker</argument>
        </arguments>
    </virtualType>
</config>